= render "parts/header"

%section.parallax-container
  .parallax
    = image_tag "top_img.png"
%section.section
  .container
    .row
      %h4.orange-text 「大量生産」「大量消費型社会」から「循環型社会」へ
      %p
        20世紀私たちはたくさんのものを作り、使い、捨て、それによって豊かな暮らしを実現しました。
        %br/
        しかしその一方で大量のごみを生み出し地球環境を汚染してきました。
        %br/
        「大量生産」、「大量消費」の流れを見直し、環境にやさしい「循環型社会」へ変えていこうという動きがあります。

      %p.orange-text 最近よく聞く「4R」は、「循環型社会」を構築するための重要なキーワードとなっています。
    .row
      .col.s12.m4
        = image_tag "4r.jpg",class: "responsive-img"
      .col.s12.m8
        %ul.collection
          %li.collection-item.avatar
            %i.mdi-hardware-keyboard-arrow-right.circle.orange
            %span.title.red-text Refuse（リフューズ）＝断る＝不要なゴミをださない。
            %p 例）レジ袋などを使わず、マイバッグを持つ。
          %li.collection-item.avatar
            %i.mdi-hardware-keyboard-arrow-right.circle.orange
            %span.title.red-text Reduce（リデュース）＝減らす＝ゴミを減らす。
            %p 例）ご飯を残さないように食べる。高くても質の高いものを愛着を持って長く使う。
          %li.collection-item.avatar
            %i.mdi-hardware-keyboard-arrow-right.circle.orange
            %span.title.red-text Reuse （リユース）＝もう一度つかう
            %p 例）弊社の「家電リユース事業」がこれにあたります。日本で使わなくなった家電を輸出して、修理してもう一度使います。
          %li.collection-item.avatar
            %i.mdi-hardware-keyboard-arrow-right.circle.orange
            %span.title.red-text Recycle（リサイクル）再利用
            %p 例）ガラスのビンを溶かして、新しいビンをつくる。牛乳パックをトイレットペーパーにする
      
    .row
      .col.s12
        %article.orange.card
          .card-content.white-text
            %p 家電リユース業
            %p 日本国内での役目を終え、「ゴミ」と呼ばれ捨てられる家電製品たち・・・
            %p 実は、ほとんどのものが少しの修理をすれば直るのです。
            %p しかし、日本では修理して壊れるまで使い続けるという古くからの良い習慣がなくなり、壊れたら新しいものを買う、「大量消費社会」へと大きく変化しました。
            %p そこで弊社では、国内で不要になった家電製品を、日本メーカーの新品製品を買えない、｢発展途上の国々」へ輸出販売する、「家電リユース事業」を展開しております。
            %p 輸出された家電製品は、現地の修理工によって一つ一つ修理され、「商品」として新たな命が吹き込まれます。
            %p 弊社では、リユース・リフューズ・リデュース・リサイクルをしています。
            %p 日本で不要になった物でも、フィリピン・カンボジア・マレーシアなどで再利用される物もございます。

    .row
      .col.s12
        %ul.collection
          %li.collection-item.avatar
            %i.circle.mdi-av-fast-forward.red
            %span.title.red-text お部屋や回収品は汚れていても大丈夫です！
            %p
          %li.collection-item.avatar
            %i.circle.mdi-av-fast-forward.red
            %span.title.red-text 大量の不要品もお任せ下さい！
            %p 店舗、会社、倉庫、ｶﾞﾚｰｼﾞ、お家丸ごと、ゴミ屋敷…などから出る大量の不要品もお任せ下さい。 
          %li.collection-item.avatar
            %i.circle.mdi-av-fast-forward.red
            %span.title.red-text お客様の持ち込み歓迎致します！
            %p
              弊社では、年に2～3回お客様持ち込み回収を実施しています。
              %br/
              それ以外の持ち込みも歓迎致します。 
      
    .row
      %article.col.s12
        %h4.orange-text 回収品目

        %ul.collection
          %li.collection-item
            %p.red-text 家電全般はお問い合わせください。
            %p ※電気カーペット、金庫等、一部回収出来ない物もございます。
          %li.collection-item
            %p.red-text 家具類・スクーター全般はお問い合わせください。
          %li.collection-item
            %p.red-text 機械・工具類
            %p  
              農機具・トラクター・耕運機・チェーンソー（エンジン）・草刈り機他
              %br/
              各種エンジン・バッテリー他
          %li.collection-item
            %p.red-text 衣類・着物・古着
            %p 段ボール・新聞・雑誌・ペットボトル・アルミ缶他
    .row
      .col.s12.m6
        .card.orange
          .card-content.white-text
            %h5 家具類
            %p タンス・ソファー・椅子・机・ダイニングテーブル他
            %p ※上記は、お電話にてお問い合わせください。
     
      .col.s12.m6
        .card.blue
          .card-content.white-text
            %h5 バイク
            %p 
              ●スクーター全般
              %br/
              ●50ｃｃ～大型車まで
              %br/
              ※動かなくてもOK！！

      .col.s12.m6
        .card.blue
          .card-content.white-text
            %h5 機械・工具他
            %p ●農機具・トラクター・耕運機・チェーンソー（エンジン）
            %p ・草刈り機など
            %p ●バイク・バッテリー（バイク用・車用）
            %p ●水中ポンプ・発電機・溶接機
            %p ●各種エンジン
            %p ●鉄製のロッカー・鉄パイプ類
            %p ●各工場機械・電動機械
            %p ●鉄・鉄スクラップ・自動販売機
            %p ※バイクは動かなくてもOK!!
            %p （原付・中型・大型問わず）
      
      .col.s12.m6
        .card.orange
          .card-content.white-text
            %h5 その他
            %p ●カーペット（電気カーペット含む）
            %p ●ベッド・ソファーベッド
            %p ●布団（上下セット）
            %p ●衣類・着物・古着
            %p ●段ボール・新聞・雑誌
            %p ※上記はお電話にてお問い合わせください。


%section.section
  .container
    .row
      %h4.red-text 買取について
      %ul.collection
        %li.collection-item.avatar
          %i.mdi-image-looks-one.circle.pink
          %p ５年以内に製造された良品の物（製造年が確認出来るもの）
        %li.collection-item.avatar
          %i.mdi-image-looks-two.circle.pink
          %p 人気シリーズの物
        %li.collection-item.avatar
          %i.mdi-image-looks-3.circle.pink
          %p 動作の不具合や外傷がない物
        %li.collection-item.avatar
          %i.mdi-image-looks-4.circle.pink
          %p 付属品が揃っている物（リモコン・配線・説明書等）

      %p ※買取り金額は、実物を拝見してからのお見積りになります。
      %p.right 家電以外にも、骨董品・楽器（エレキギター）・昭和のおもちゃ他買取り致します。


= render "parts/footer"
