%footer.page-footer.white
  .container
    .row
      .col.s12.m6
        = image_tag "logo.png",size: "220x50"
      .col.s12.m6
        %ul
          %li
            %i.green-text.mdi-action-done
            大阪府公安委員会許可　第622150127210号
          %li
            %i.green-text.mdi-action-done
            大阪府公安委員会許可　第7211号
          %li
            %i.green-text.mdi-action-done
            一般廃棄物収集運搬許可業者（提携）
          %li
            %i.green-text.mdi-action-done
            一般社団法人 遺品整理士認定協会 認定第 ISO3835号
        %p 〒590-0521 大阪府泉南市樽井7-14-23

  .footer-copyright
    .container
      .center
        %address.grey-text © 2014 Copyright Company

