= render "parts/header"
%section.parallax-container
  .parallax
    = image_tag "top_img.png"

%section.section
  .container
    .center
      %ul.collection.with-header
        %li.collection-header
          %h4 お見積りから処分までの流れ
          %h6 片付け・遺品整理・不要品改修・買取のことならお気軽にご相談ください。
        %li.collection-item
          %i.green-text.mdi-action-done
          お部屋の状態がひどいので清掃・リフォームもしたい。
        %li.collection-item
          %i.green-text.mdi-action-done
          ゴミ屋敷になっており片付けができないので手伝ってほしい。
        %li.collection-item
          %i.green-text.mdi-action-done
          退院後、介護設備を部屋に入れるために片付け・リフォーム・清掃をお願いしたい。
        %li.collection-item
          %i.green-text.mdi-action-done
          施設に入所した後の不要品の整理をお願いしたい。
        %li.collection-item
          %i.green-text.mdi-action-done
          施設または長期入院のため、部屋を片付けてほしい。

        

    .row
      .col.s12.m4
        .card
          .card-content.grey-text
            %span.card-title.blue-text お見積り
            %p 
              まずはお見積りご依頼ください。
              【エースジャパン直通】
              %br
              %a(href="tel:09081634488") 090-8163-4488
              
            %p 
              受付時間 8:00 ~ 20:00
              お伺いしご要望・ご相談をたまわります。

      .col.s12.m4
        .card
          .card-content.grey-text
            %span.card-title.green-text 作業開始
            %p 
              ご希望の日時に作業を開始
              大量の処分品や思い処分品の運び出しはプロにお任せください。
              解体しての運び出しもたまわります。
      
      .col.s12.m4
        .card
          .card-content.grey-text
            %span.card-title.orange-text お支払い
            %p
              作業完了時に現金にてお支払いください。
              %br/
              %span.red-text ＊一部、着手金を頂く場合もございます。

              

= render "parts/maps"
= render "parts/footer"

:css
  .collection-item{
    margin: 18px;
  }
